@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans:wght@700&display=swap");
@import "https://use.fontawesome.com/releases/v6.3.0/css/all.css";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70%;
  height: 75%;
  display: flex;
  flex-direction: row;
  background-color: #dcc8a1;
  padding: 12px 22px;
}

.cards__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: 80%;
  padding: 0 20px;
}

.cards__container .card {
  width: 46%;
  height: 45%;
  border: 1px solid grey;
  box-shadow: 1px 3px 20px 1px black;
  border-radius: 8px;
  overflow: hidden;
  color: whitesmoke;
}

.cards__container .card .image {
  height: 80%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__container .card .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20%;
  background-color: #63515b;
  padding-left: 6px;
}

.info__container {
  color: #63515b;
  padding-top: 18px;
  letter-spacing: 0.5px;
  flex-basis: 20%;
}

.info__container h2 {
    font-size: 16px;
  margin-bottom: 20px;
}

.info__container li {
    margin-bottom: 6px;
}

