body {
  background-color: rgb(238, 238, 238);
  font-family: Arial, Helvetica, sans-serif;
}

.masonry,
.flex {
  max-width: 1000px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  margin: 30px 0;
}
.card {
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px;
}

.card img {
  width: 100%;
}
.card section,
.card footer {
  padding: 12px;
}

.card footer {
  border-top: 1px solid gray;
}

.masonry .cards-layout {
  column-count: 3;
}
.masonry .card {
  display: inline-block;
}

.flex .cards-layout {
  display: flex;
  flex-wrap: wrap;
}

.flex .card {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.flex .card section {
  flex-grow: 1;
}
